*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

                                          

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(7, 1, 17);
}

@import url('http://fonts.cdnfonts.com/css/retro-new-version');                                           

.header{
    font-size: 40px;
    margin-top: 50px;
    color: brown;
    font-family: 'Retro New Version', sans-serif;
                                           
}


.main{
    display: flex;
    justify-content: center;
    gap: 50px;
   align-items: center;

}
.settings{
    height: 450px;
    width: 300px;
    background-color: rgb(196, 181, 181);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    
}

.settings-buttons{
    width: 70%;
    height: 40px;
    background-color: rgb(201, 116, 83);
    border-radius: 20px;
    border-color: rgb(200, 202, 201);
    color: rgb(241, 238, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
  
}

.settings-buttons:hover{
   color: rgb(56, 37, 37);
}

.colour-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.colour-text{
    color: rgb(29, 26, 26);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#color-picker{
    height: 50px;
    width: 70%;
    border: none;
}
#color-picker:hover{
   transform: translate(1px);
}
#color-mode{
    background-color:rgb(39, 4, 4);
  
}


.grid-container{
   height: 480px;
   width: 450px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0px;
    background-color: white;
    box-shadow: 0 0 10px rgb(243, 239, 239);
    cursor: pointer;
    
   
}
.grid-element{
  min-height:fit-content;
  min-width: 100%;
    border: 1px solid black;
    background-color: white;
}
 
.settings{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
   
}
.slider-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
#grid-size-text {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   color: rgb(15, 15, 15);
   
}

.grid-change-text{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid-number-value{
   color: rgb(138, 68, 41);
   
   
}