*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

                                          

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(7, 1, 17);
}

@import url('http://fonts.cdnfonts.com/css/retro-new-version');                                           

.header{
    font-size: 40px;
    margin-top: 50px;
    color: brown;
    font-family: 'Retro New Version', sans-serif;
                                           
}


.main{
    display: flex;
    justify-content: center;
    gap: 50px;
   align-items: center;

}
.settings{
    height: 450px;
    width: 300px;
    background-color: rgb(196, 181, 181);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settings-buttons{
    width: 90%;
    height: 40px;
    background-color: rgb(91, 97, 96);
    border-radius: 20px;
    border-color: rgb(200, 202, 201);
    color: white;
}


#color-button{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: brown;
    border: none;
}
#color-mode{
    background-color: rgb(8, 1, 15);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 0px;
    background-color: white;
    box-shadow: 0 0 10px rgb(243, 239, 239);
    cursor: pointer;
    
   
}
.grid-element{
    height: 30px;
    width: 30px;
   border: none;
    background-color: white;
}

.settings{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
   
}

